* {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

html {
    margin: 0;
    padding: 0;
    height: 100%
}

body {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;    
    height: 100%;
    background-image: url("../images/bg-intro-mobile.png");
    background-color: hsl(0, 100%, 74%) ;
    color: white;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin: 50px 25px ;
}

.overlayx {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: hsl(0, 100%, 74%);
    opacity: 0.5;
}

.text-ctr {
    margin: 0 25px;
}

h1 {
    text-align: center;
    font-size: 24px;
    
}

p {
    text-align: center;
}

.button-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.try-trial {
    color: white;
    background-color: hsl(248, 32%, 49%) ;
    border: 1px solid hsl(248, 32%, 49%);
    border-radius: 6px;
    padding: 20px 70px;
    margin: 20px 0;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
}

.form-ctr {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    align-items: center;
    width: 100%;
    box-shadow: 0 10px rgba(0, 0, 0, .1);
    padding: 25px 25px 30px 25px;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    margin-bottom: 25px;

}

.form-fill {
    padding: 10px 10px;
    width: 100%;
    color: hsl(249, 10%, 40%);
    border: 1px solid hsl(246, 25%, 90%);
    border-radius: 4px;
    font-weight: 900;
}

.form-fill:focus {
    outline: none;}

.error-symbol {
    position: absolute;
    height: 20px;
    right: 25px;
    top: 10px;
}

.error-text {
    color: hsl(0, 100%, 74%) ;
    font-size: 10px;
    align-self: flex-end;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 0;
}

.hidden {
    display: none;
}

.error-border {
    border: 1px solid hsl(0, 100%, 74%);
}

.myForm {
    width: 100%;
}

.claim-trial {
    color: white;
    background-color: hsl(154, 59%, 51%);
    border: 1px solid hsl(154, 59%, 51%);
    border-radius: 4px;
    padding: 15px 20px;
    width: 100%;
    margin-bottom: 10px; 
    font-weight: 700;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: hsl(0, 100%, 74%);
}

.bot-text {
    color: hsl(249, 10%, 70%);
    font-size: 11px;
    text-align: center;
    margin: 0 20px;

}